{{>layouts/header}}
<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <div class="row gap-3">
        <button onclick="location.href='/worries/new'" class="btn btn-primary btn-lg col-5">고민 입력</button>
        <button onclick="location.href='/counselors'" class="btn btn-primary btn-lg col-5">상담사 연결</button>
        <button onclick="location.href='/profile'" class="btn btn-primary btn-lg col-5">프로필</button>
        <button onclick="location.href='/worries/history'" class="btn btn-primary btn-lg col-5">고민 기록 보기</button>
    </div>
</div>
{{>layouts/footer}}