{{>layouts/header}}
<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <h1 class="mb-4">MindSpring</h1>
    <button onclick="location.href='/login'" class="btn btn-primary btn-lg">시작하기</button>
</div>
{{>layouts/footer}}